@page
@model proiectVetApp.Pages.VeterinaryVisits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VeterinaryVisit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VeterinaryVisit.AnimalId" class="control-label"></label>
                <select asp-for="VeterinaryVisit.AnimalId" class ="form-control" asp-items="ViewBag.AnimalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VeterinaryVisit.VeterinaryClinicId" class="control-label"></label>
                <select asp-for="VeterinaryVisit.VeterinaryClinicId" class ="form-control" asp-items="ViewBag.VeterinaryClinicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VeterinaryVisit.VisitDate" class="control-label"></label>
                <input asp-for="VeterinaryVisit.VisitDate" class="form-control" />
                <span asp-validation-for="VeterinaryVisit.VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeterinaryVisit.Symptoms" class="control-label"></label>
                <input asp-for="VeterinaryVisit.Symptoms" class="form-control" />
                <span asp-validation-for="VeterinaryVisit.Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeterinaryVisit.Diagnostic" class="control-label"></label>
                <input asp-for="VeterinaryVisit.Diagnostic" class="form-control" />
                <span asp-validation-for="VeterinaryVisit.Diagnostic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeterinaryVisit.Treatment" class="control-label"></label>
                <input asp-for="VeterinaryVisit.Treatment" class="form-control" />
                <span asp-validation-for="VeterinaryVisit.Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
